In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/Advertising.csv")

In [ ]:
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [ ]:
x = df.iloc[:,0:3].values    # All 3 features
y = df.iloc[:,3].values

In [ ]:
x = df.iloc[:,0].values.reshape(-1,1) # TV feature alone

In [ ]:
x = df.iloc[:,0:2].values    # TV and Radio features

In [ ]:
x

array([[230.1,  37.8],
       [ 44.5,  39.3],
       [ 17.2,  45.9],
       [151.5,  41.3],
       [180.8,  10.8],
       [  8.7,  48.9],
       [ 57.5,  32.8],
       [120.2,  19.6],
       [  8.6,   2.1],
       [199.8,   2.6],
       [ 66.1,   5.8],
       [214.7,  24. ],
       [ 23.8,  35.1],
       [ 97.5,   7.6],
       [204.1,  32.9],
       [195.4,  47.7],
       [ 67.8,  36.6],
       [281.4,  39.6],
       [ 69.2,  20.5],
       [147.3,  23.9],
       [218.4,  27.7],
       [237.4,   5.1],
       [ 13.2,  15.9],
       [228.3,  16.9],
       [ 62.3,  12.6],
       [262.9,   3.5],
       [142.9,  29.3],
       [240.1,  16.7],
       [248.8,  27.1],
       [ 70.6,  16. ],
       [292.9,  28.3],
       [112.9,  17.4],
       [ 97.2,   1.5],
       [265.6,  20. ],
       [ 95.7,   1.4],
       [290.7,   4.1],
       [266.9,  43.8],
       [ 74.7,  49.4],
       [ 43.1,  26.7],
       [228. ,  37.7],
       [202.5,  22.3],
       [177. ,  33.4],
       [293.6,  27.7],
       [206.9,   8.4],
       [ 25.1,  25.7],
       [175.1,  22.5],
       [ 89.7,   9.9],
       [239.9,  41.5],
       [227.2,  15.8],
       [ 66.9,  11.7],
       [199.8,   3.1],
       [100.4,   9.6],
       [216.4,  41.7],
       [182.6,  46.2],
       [262.7,  28.8],
       [198.9,  49.4],
       [  7.3,  28.1],
       [136.2,  19.2],
       [210.8,  49.6],
       [210.7,  29.5],
       [ 53.5,   2. ],
       [261.3,  42.7],
       [239.3,  15.5],
       [102.7,  29.6],
       [131.1,  42.8],
       [ 69. ,   9.3],
       [ 31.5,  24.6],
       [139.3,  14.5],
       [237.4,  27.5],
       [216.8,  43.9],
       [199.1,  30.6],
       [109.8,  14.3],
       [ 26.8,  33. ],
       [129.4,   5.7],
       [213.4,  24.6],
       [ 16.9,  43.7],
       [ 27.5,   1.6],
       [120.5,  28.5],
       [  5.4,  29.9],
       [116. ,   7.7],
       [ 76.4,  26.7],
       [239.8,   4.1],
       [ 75.3,  20.3],
       [ 68.4,  44.5],
       [213.5,  43. ],
       [193.2,  18.4],
       [ 76.3,  27.5],
       [110.7,  40.6],
       [ 88.3,  25.5],
       [109.8,  47.8],
       [134.3,   4.9],
       [ 28.6,   1.5],
       [217.7,  33.5],
       [250.9,  36.5],
       [107.4,  14. ],
       [163.3,  31.6],
       [197.6,   3.5],
       [184.9,  21. ],
       [289.7,  42.3],
       [135.2,  41.7],
       [222.4,   4.3],
       [296.4,  36.3],
       [280.2,  10.1],
       [187.9,  17.2],
       [238.2,  34.3],
       [137.9,  46.4],
       [ 25. ,  11. ],
       [ 90.4,   0.3],
       [ 13.1,   0.4],
       [255.4,  26.9],
       [225.8,   8.2],
       [241.7,  38. ],
       [175.7,  15.4],
       [209.6,  20.6],
       [ 78.2,  46.8],
       [ 75.1,  35. ],
       [139.2,  14.3],
       [ 76.4,   0.8],
       [125.7,  36.9],
       [ 19.4,  16. ],
       [141.3,  26.8],
       [ 18.8,  21.7],
       [224. ,   2.4],
       [123.1,  34.6],
       [229.5,  32.3],
       [ 87.2,  11.8],
       [  7.8,  38.9],
       [ 80.2,   0. ],
       [220.3,  49. ],
       [ 59.6,  12. ],
       [  0.7,  39.6],
       [265.2,   2.9],
       [  8.4,  27.2],
       [219.8,  33.5],
       [ 36.9,  38.6],
       [ 48.3,  47. ],
       [ 25.6,  39. ],
       [273.7,  28.9],
       [ 43. ,  25.9],
       [184.9,  43.9],
       [ 73.4,  17. ],
       [193.7,  35.4],
       [220.5,  33.2],
       [104.6,   5.7],
       [ 96.2,  14.8],
       [140.3,   1.9],
       [240.1,   7.3],
       [243.2,  49. ],
       [ 38. ,  40.3],
       [ 44.7,  25.8],
       [280.7,  13.9],
       [121. ,   8.4],
       [197.6,  23.3],
       [171.3,  39.7],
       [187.8,  21.1],
       [  4.1,  11.6],
       [ 93.9,  43.5],
       [149.8,   1.3],
       [ 11.7,  36.9],
       [131.7,  18.4],
       [172.5,  18.1],
       [ 85.7,  35.8],
       [188.4,  18.1],
       [163.5,  36.8],
       [117.2,  14.7],
       [234.5,   3.4],
       [ 17.9,  37.6],
       [206.8,   5.2],
       [215.4,  23.6],
       [284.3,  10.6],
       [ 50. ,  11.6],
       [164.5,  20.9],
       [ 19.6,  20.1],
       [168.4,   7.1],
       [222.4,   3.4],
       [276.9,  48.9],
       [248.4,  30.2],
       [170.2,   7.8],
       [276.7,   2.3],
       [165.6,  10. ],
       [156.6,   2.6],
       [218.5,   5.4],
       [ 56.2,   5.7],
       [287.6,  43. ],
       [253.8,  21.3],
       [205. ,  45.1],
       [139.5,   2.1],
       [191.1,  28.7],
       [286. ,  13.9],
       [ 18.7,  12.1],
       [ 39.5,  41.1],
       [ 75.5,  10.8],
       [ 17.2,   4.1],
       [166.8,  42. ],
       [149.7,  35.6],
       [ 38.2,   3.7],
       [ 94.2,   4.9],
       [177. ,   9.3],
       [283.6,  42. ],
       [232.1,   8.6]])

In [ ]:
x.shape

(200, 3)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
Lin = LinearRegression()

In [ ]:
Lin.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
pred_y = Lin.predict(x)

In [ ]:
from sklearn import metrics

In [ ]:
metrics.mean_absolute_error(y, pred_y)    # All 3 features

1.2363919943957848

In [ ]:
metrics.mean_absolute_error(y, pred_y) # TV feature alone

1.8305872641932412

In [ ]:
metrics.mean_absolute_error(y, pred_y) # TV and Radio

1.2367636706717362

In [ ]:
df.corr()

                 TV     Radio  Newspaper     Sales
TV         1.000000  0.054809   0.056648  0.901208
Radio      0.054809  1.000000   0.354104  0.349631
Newspaper  0.056648  0.354104   1.000000  0.157960
Sales      0.901208  0.349631   0.157960  1.000000